<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href='/clustergrammer/'>

    <title>clustergrammer</title>

    <link rel="shortcut icon" href="static/map-o_32_transparent.ico" type="image/x-icon">
    <!-- Bootstrap Core CSS -->
    <link href="static/lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/lib/css/bootstrap-switch.css">
    <link rel="stylesheet" href="static/css/specific.css" />
    <link rel="stylesheet" href="static/css/jquery.accordion.css">
    <link rel="stylesheet" href="static/css/custom_viz.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <style>
      #clust_instruct_container {display: none}
      .footer_section {display: none}
    </style>

</head>

<body>


  <div>

    <div id='clust_instruct_container' >
      <!-- <i class="fa fa-map-o fa-2x  "></i>  -->
      <h1 id='viz_website_title'> Controls </h1>

      <!-- <div class='gene_exp_view'> -->
      <!-- <div class='viz_medium_text'> Controls: </div> -->

      <!-- </div> -->



      <!-- <div id='toggle_order' class="btn-group" data-toggle="buttons" >
        <label class="btn btn-primary active prot_class" >
          <input type="radio" name="options" id="clust_button" autocomplete="off" checked > Cluster
        </label>
        <label class="btn btn-primary prot_class" >
          <input type="radio" name="options" id="rank_button" autocomplete="off" > Rank
        </label>
      </div> -->

      <!-- toggle clustergram order -->
      <div class='viz_medium_text'>Row Order</div>
      <div id='toggle_col_order' class="btn-group" data-toggle="buttons" >
        <label class="btn btn-primary active order_name" id="clust_row">
          <input type="radio" name="options" autocomplete="off" checked > Cluster
        </label>
        <label class="btn btn-primary order_name" id="rank_row">
          <input type="radio" name="options" autocomplete="off" > Rank
        </label>
      </div>

      
      <div class='viz_medium_text'>Column Order</div>
      <div id='toggle_row_order' class="btn-group" data-toggle="buttons" >
        <label class="btn btn-primary active order_name" id="clust_col">
          <input type="radio" name="options" autocomplete="off" checked > Cluster
        </label>
        <label class="btn btn-primary order_name" id="rank_col">
          <input type="radio" name="options" autocomplete="off" > Rank
        </label>
      </div>      

      <!-- input box for gene search -->
      <div id='gene_search_container' class='row'>
          <input id='gene_search_box' type="text" class="form-control" placeholder="Input Gene" aria-describedby="sizing-addon2">

          <div id='gene_search_button' class="btn-group" data-toggle="buttons" >
            <label id='submit_gene_button' class="btn btn-primary active " >
              <input type="radio" name="options" id="" autocomplete="off" checked > Search
            </label>
          </div>
      </div>      

      <div id='slider_container'>
        <p class='viz_instruct_text'>Column Group Size</p>
        <div id="slider_col"></div>
        <p class='viz_instruct_text'>Row Group Size</p>
        <div id="slider_row"></div>
        <p id='filter_value'>Filter Row: 0% </p>
        <div id="slider_filter"></div>
      </div>

    </div>

    <!-- exp div -->
    <div id='svg_div' class='svg_div' >
      <h1 id='wait_message'>Please wait ...</h1>
    </div>
  
  </div>

  <!-- Vendor -->
  <!-- jQuery -->
  <script src="static/lib/js/jquery-1.11.2.min.js"></script>
  <!-- adding jquery links -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src='static/lib/js/jquery.accordion.js'></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="static/lib/js/crossfilter.js"></script>
  <script src="static/lib/js/d3.js"></script>
  <script src="static/lib/js/dc.js"></script>
  <script src="static/lib/js/queue.js"></script>
  <script src="static/lib/js/keen.min.js"></script>
  <script src="static/lib/js/underscore-min.js"></script>
  <script src="static/lib/js/underscore.strings.js"></script>
  <!-- <script src='static/lib/js/blockUI.js'></script> -->
  <script src='static/lib/js/type_ahead.js'></script>
  <script src="static/lib/js/bootstrap.min.js"></script>
  <script src="static/lib/js/bootstrap-switch.min.js"></script>
  <script src="static/lib/js/d3.tip.js"></script>
  <!-- Clustergram Scripts -->
  <script src='static/js/clustergrammer.js'></script>
  <script src='static/js/load_local_network.js'></script>
  <script src='static/js/play_demo.js'></script>

  <script>

    function QueryStringToJSON() { 
      var pairs = location.search.slice(1).split('&');

      var result = {};
      pairs.forEach(function(pair) {
          pair = pair.split('=');
          result[pair[0]] = decodeURIComponent(pair[1] || '');
      });

      return JSON.parse(JSON.stringify(result));
    }

    var query_string = QueryStringToJSON();

    var ini_expand;
    if (query_string.preview === 'true' ){
      d3.select('#clust_instruct_container')
        .style('display','none');
      ini_expand = true; 
    } else {
      d3.select('#clust_instruct_container')
        .style('display','block');
      ini_expand = false; 
    }

    if (query_string.row_label){
      var row_label = query_string.row_label;
    } else {
      var row_label = '';
    }

    if (query_string.col_label){
      var col_label = query_string.col_label;
    } else {
      var col_label = '';
    }

    var super_label_scale = 1.25;
    if (query_string.row_label === undefined && query_string.col_label === undefined){
      super_label_scale = 0;
    }

    if (query_string.opacity_scale){
      var opacity_scale = query_string.opacity_scale;
    } else {
      var opacity_scale = 'linear';
    }

    if (query_string.order){
      var ini_order = query_string.order;
    } else {
      var ini_order = 'clust'
    }

    network_data = {{ viz_network|tojson|safe }}

    console.log(network_data)

    // define the outer margins of the visualization
    var outer_margins = {
        'top':5 ,
        'bottom':5,
        'left':225,
        'right':5
      };

    var outer_margins_expand = {
        'top':5,
        'bottom':5,
        'left':5,
        'right':5
      };  

    // define callback function for clicking on tile
    function click_tile_callback(tile_info){
      console.log('my callback');
      console.log('clicking on ' + tile_info.row + ' row and ' + tile_info.col + ' col with value ' + String(tile_info.value))
    }

    // define callback function for clicking on group
    function click_group_callback(group_info){
      console.log('running user defined click group callback');
      console.log(group_info.type);
      console.log(group_info.nodes);
      console.log(group_info.info);
    }

    viz_name = {{viz_name|tojson|safe}};

    // define arguments object
    var arguments_obj = {
      'network_data': network_data,
      'svg_div_id': 'svg_div',
      // 'col_label':viz_name,
      'col_label':col_label,
      'row_label':row_label,
      'outer_margins': outer_margins,
      'outer_margins_expand': outer_margins_expand,
      'show_tooltips':true,
      'ini_expand':ini_expand,  
      'super_label_scale':super_label_scale,
      'row_label_scale':0.4,
      'col_label_scale':0.5,
      'opacity_scale':opacity_scale,
      'order':ini_order,
      // 'force_square':1
      // 'input_domain':7,
      // 'col_overflow':1
      // 'transpose':true,
      // 'do_zoom':false,
      // 'tile_colors':['#ED9124','#1C86EE'],
      // 'background_color':'white'
      // 'tile_title': true,
      // 'click_tile': click_tile_callback,
      // 'click_group': click_group_callback
      // 'resize':false
    };

    if (ini_expand){
      d3.select('.footer_section').style('display','none');
    } else {
      d3.select('.footer_section').style('display','block');
    }

    d3.select('#wait_message').style('display','none');

    // make clustergram: pass network_data and the div name where the svg should be made
    var cgm = clustergrammer(arguments_obj);

    g_cgm = cgm;

    // special requirements for demo
    // d3.select('#expand_button').style('display','none');
    d3.select('#left_border').style('fill','white');
    d3.select('#right_border').style('fill','white');
    d3.select('#top_border').style('fill','white');
    d3.select('#bottom_border').style('fill','white');

    ini_sliders();

    ini_play_button(cgm);

    if (_.has(network_data, 'views')){
      // filter scale - only initialize once 
      var inst_max = network_data.views.length - 1;
      $( "#slider_filter" ).slider({
        value:0,
        min: 0,
        max: inst_max,
        step: 1,
        stop: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_filt = $( "#slider_filter" ).slider( "value" ); 

          d3.select('#main_svg')
            .style('opacity',0.70);

          d3.select('#filter_value').text('Filter Row: '+10*inst_filt+'%');

          // get clustergram to update using views and crossfilter 
          change_view = {'filter_row':inst_filt/10, 'num_meet':1}

          // disable the slider to prevent the user from making changes too
          // quickly
          $('#slider_filter').slider('disable');

          // update network 
          cgm.update_network(change_view);

          ini_sliders();

          function enable_slider(){
            $('#slider_filter').slider('enable');  
          }

          // reenable after update is finished 
          setTimeout(enable_slider, 2500);

        }
      });

      $( "#amount" ).val( "$" + $( "#slider_filter" ).slider( "value" ) );

    } else {
      d3.select('#filter_value').style('display','none');
    }

    function ini_sliders(){

      $( "#slider_col" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;
          cgm.change_groups('col',inst_index)
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_col" ).slider( "value" ) );

      $( "#slider_row" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;
          cgm.change_groups('row',inst_index)
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_row" ).slider( "value" ) );

      $('#gene_search_box').autocomplete({
        source: cgm.get_genes()
      });

      // submit genes button
      $('#gene_search_box').keyup(function(e) {
        if (e.keyCode === 13) {
          var search_gene = $('#gene_search_box').val();
          cgm.find_gene(search_gene);
        }
      });

      $('#submit_gene_button').click(function() {
        var gene = $('#gene_search_box').val();
        cgm.find_gene(gene);
      });

      $('#toggle_row_order .btn').off().click(function(evt) {
        var order_id = $(evt.target).attr('id').split('_')[0];
        cgm.reorder(order_id,'row');
      });

      $('#toggle_col_order .btn').off().click(function(evt) {
        var order_id = $(evt.target).attr('id').split('_')[0];
        cgm.reorder(order_id,'col');
      });

    }
  
  </script>

</body>

</html>
