<!DOCTYPE html>
<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <title>Clustergrammer</title>
  <meta charset="UTF-8">

  <base href='/clustergrammer/'>
  <link rel="shortcut icon" href="static/icons/graham_cracker.ico"  type="image/x-icon">

</head><body>i

<meta content="width=device-width, initial-scale=1" name="viewport">

<link rel="stylesheet" type="text/css" href="static/css/help.css">

<div id="sidebar">
    <ul>

      <!-- Summary Section -->
      <li><a href="/clustergrammer/help#summary">Summary</a></li>


      <li><a href="/clustergrammer/help#tutorial">Tutorial</a></li>
      <ul id="sideBarSub">
          <li><a href="/clustergrammer/help#input" > Input </a></li>
          <li><a href="/clustergrammer/help#visualization" > Visualization </a></li>
          <li><a href="/clustergrammer/help#examples" > Examples </a></li>
      </ul>

      <li><a href="/clustergrammer/help#api">API</a></li>
      <ul id="sideBarSub">
          <li><a href="/clustergrammer/help#submit_matrix"> Submit Matrix </a></li>
      </ul>

      <li><a href="/clustergrammer/help#contact">Contact</a></li>

    </ul>
</div>

<div id="content">

  <img class='example_image' id='clustergrammer_logo' src="static/img/clustergrammer_logo.png" alt="Clustergrammer"> 
  <h4 id="subtitle">A web-based matrix visualization tool that allows users to easily create zoomable, reorderable, and shareable clustergrams by uploading a tab-separated file.</h4>

  <section id="summary">
    <h3 class="first">Summary</h3>
    <p>Clustergrammer is a web-based matrix visualization tool that allows users to easily create zoomable, reorderable, and shareable clustergrams by uploading a tab-separated file.</p>
  </section>

  <section id="tutorial">
    <h3>Tutorial</h3>
    <h3 id="input" class="subheader">Input</h3>
    <h5 id="search">Search</h5>
    <p>The entry point into L1000CDS² is to paste up/down gene lists into the up/down gene text boxes (Fig. 1) or paste a signature (Fig. 2) into the up gene text box. A signature is a list of genes and their differential expression values separated by a comma. The search button will only become enabled when both up/down genes text boxes are filled by gene lists, or when the up gene textbox is filled with a signature. Clicking the Search button, and the information for the top 50 signatures will be displayed in a table in a new page.</p>

    <img id="geneSetFig" src="./L1000CDS²_files/geneSet.png">
    
  </section>
</div>

</body><div></div><div></div></html>