<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href='/clustergrammer/'>

    <title>Clustergrammer</title>

    <!-- <link rel="shortcut icon" href="static/map-o_32_transparent.ico"  type="image/x-icon"> -->
    <link rel="shortcut icon" href="static/icons/graham_cracker.ico"  type="image/x-icon">

    <!-- Bootstrap Core CSS -->
    <link href="static/lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/lib/css/bootstrap-switch.css">
    <link rel="stylesheet" href="static/css/specific.css" />
    <link rel="stylesheet" href="static/css/custom_index.css">
    <link rel="stylesheet" href="static/lib/css/prettify.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <style>
      #input_form {display: none}
    </style>

</head>

<body onload="prettyPrint()">

  <!-- Wrap all page content here -->
  <div id="wrap" class='toggled'>

      <!-- main container - required -->
      <div id='main_container'>

        <!-- this row is - required fluid causes problems -->
        <div class="row" >

          <img src="static/icons/graham_cracker_70.png" id='home_graham_cracker' style="width:35px;height:35px;" >
          <h1 id='website_title'> clustergrammer</h1>

          <p class='initial_paragraph first_instructions'>Clustergrammer is a visualization tool that enables users to easily generate highly interactive and shareable clustergram/heatmap visualizations from a matrix of their own data. Press play or explore the example below to see the interactive features. </p>

          <!-- non-local mongodb -->
          <!-- <iframe id='iframe_preview' src="/clustergrammer/  demo/566f6bbfb1a04e7f4087fcad?preview=true" frameBorder="0"></iframe>  -->

          <!-- category local example -->
          <iframe id='iframe_preview' src="/clustergrammer/demo/" frameBorder="0"></iframe>
          <!-- 572a63400329efd3b8ed4b5e -->

          <!-- local mongodb -->
          <!-- <iframe id='iframe_preview' src="/clustergrammer/demo/566f6ce2b1a04e810e0ed0a2?preview=true" frameBorder="0"></iframe>  -->

          <a id=demo_link class='blue_links' href="/clustergrammer/viz/572b87720329ef3c113674c4/rc_two_cats.txt" target="_blank">See example in full page</a>

          <div id='upload_section'>

            <p class='initial_paragraph'>Your tab-separated matrix file should be in one of the supported <a href="http://clustergrammer.readthedocs.io/matrix_format_io.html"  target="_blank"> matrix formats</a> and have a .txt or .tsv file extension. See example simple matrix format below: </p>

              <pre id='example_tsv' class='prettyprint'>

       Col-A   Col-B   Col-C
Row-A   0.0    -0.1     1.0
Row-B   3.0     0.0     8.0
Row-C   0.2     0.1     2.5
              </pre>

            <p class='initial_paragraph'> </p>
            <p class='initial_paragraph'>Once uploaded you will obtain a permanent and shareable link to your visualization. </p>

            <form id='input_form'  action="{{ url_for('upload_pages.upload_network') }}" method=post enctype=multipart/form-data>
              <input type=file name=file title='Choose File' >
              <input class='btn btn-primary' id='file_upload_button' type=submit value=Upload>
            </form>

            <a href="help" target="_blank" class="btn share-button" id="help_link"><i class="fa fa-question-circle"></i></a>


            <p class='initial_paragraph' id='doc_info'>
              Please see Clustergrammer's <a href="https://clustergrammer.readthedocs.io/" target="_blank">Documentation</a> or <a href="https://clustergrammer.readthedocs.io/getting_started.html" target="_blank">Getting Started</a> for more information.
            </p>

          </div>

          <!-- start example row -->
          <div id='homepage_examples'>

            <p class='example_title'>Case Studies</p>

            <div class='row example_section' >

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>CCLE Explorer</p>
                <a href='/clustergrammer/CCLE/'  target='_blank'>
                  <div class='example_image_container'>
                    <img id='CCLE_image' src="static/img/CCLE_tree.png" alt="CCLE Explorer">
                  </div>
                </a>
                <p class='example_single_description'>Clustergrammer was used to re-analyze the <a href="https://software.broadinstitute.org/software/cprg/?q=node/11" target='_blank'>Cancer Cell Line Encyclopedia's</a> (CCLE) gene expression data and enable tissue-specific exploration with the <a href="https://maayanlab.github.io/CCLE_Clustergrammer/" target='_blank'>CCLE Explorer</a>. Also see the corresponding <a href="">Clustergrammer CCLE Jupyter Notebook</a>.</p>
              </div>

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Lung Cancer PTM/Expression Data</p>
                <a href='http://nbviewer.jupyter.org/github/MaayanLab/CST_Lung_Cancer_Viz/blob/master/notebooks/CST_Data_Viz.ipynb' target='_blank' >
                  <div class='example_image_container'>
                      <img id='CST_image' src="static/img/CST_screenshot.png" alt="CST">
                  </div>
                </a>
                <p class='example_single_description'>The <a href="http://clustergrammer.readthedocs.io/clustergrammer_widget.html">Clustergrammer-Widget</a> was used to analyze lung cancer regulation at the post-translational modification (PTM) and gene expression levels (see <a href="http://nbviewer.jupyter.org/github/MaayanLab/CST_Lung_Cancer_Viz/blob/master/notebooks/CST_Data_Viz.ipynb?flush_cache=true" target='_blank'>Notebook</a>). PTM data was obtained from our collaborators at Cell Signaling Technology.</p>
              </div>

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Single-Cell CyTOF Data</p>
                <a href='http://nbviewer.jupyter.org/github/MaayanLab/Cytof_Plasma_PMA/blob/master/notebooks/Plasma_vs_PMA_Phosphorylation.ipynb' target='_blank' >
                  <div class='example_image_container'>
                      <img id='CyTOF_image' src="static/img/CyTOF_screenshot.png" alt="CyTOF">
                  </div>
                </a>
                <p class='example_single_description'>Single-Cell CyTOF was used to investigate the phosphorylation response of peripheral blood mononuclear cells (PBMCs) to PMA (phorbol 12-myristate 13-acetate) (see <a href="http://nbviewer.jupyter.org/github/MaayanLab/Cytof_Plasma_PMA/blob/master/notebooks/Plasma_vs_PMA_Phosphorylation.ipynb">Notebook</a> ). Data obtained from collaborators at the <a href="http://icahn.mssm.edu/research/portal/resources/deans-cores/human-immune-monitoring-core" target='_blank'>Icahn School of Medicine Human Immune Monitoring Core</a>. </p>

              </div>

            </div>

            <div class='row example_section' >

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Kinase Substrate Similarity Network</p>
                <a href='https://maayanlab.github.io/kinase_substrate_similarity_network/' target='_blank'>
                  <div class='example_image_container'>
                    <img id='kinase_network_image' src="static/img/kinase_network_screenshot.png" alt="Kinase Network">
                  </div>
                </a>
                <p class='example_single_description'>The <a href="" target='_blank'>Kinase Substrate Similarity Network</a> uses Clustergrammer to visualize a large network of kinases based on shared substrates.</p>
              </div>

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>MNIST Handwritten Digits</p>
                <a href='http://amp.pharm.mssm.edu/gen3va/report/approved/AGING_BD2K_LINCS_DCIC_COURSERA' target='_blank' >
                  <div class='example_image_container'>
                      <img id='MNIST_image' src="static/img/MNIST_screenshot.png" alt="MNIST">
                  </div>
                </a>
                <p class='example_single_description'>The <a href="http://clustergrammer.readthedocs.io/clustergrammer_widget.html">Clustergrammer-Widget</a> was used to visualize the MNIST handwritten digit dataset (see <a href="http://nbviewer.jupyter.org/github/MaayanLab/MNIST_heatmaps/blob/master/notebooks/MNIST_Notebook.ipynb" target='_blank'>Notebook</a>). K-means downsampling was used to visualize the entire MNIST dataset as a single heatmap. </p>
              </div>

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Iris Dataset</p>
                <a href='http://amp.pharm.mssm.edu/Enrichr/' target='_blank' >
                  <div class='example_image_container'>
                      <img id='Iris_image' src="static/img/Iris_screenshot.png" alt="CCLE Explorer">
                  </div>
                </a>
                <p class='example_single_description'>The <a href="http://clustergrammer.readthedocs.io/clustergrammer_widget.html">Clustergrammer-Widget</a> was used to visualize popular the Iris flower dataset. See the <a href="http://nbviewer.jupyter.org/github/MaayanLab/iris_clustergrammer_visualization/blob/master/Iris%20Dataset.ipynb" target='_blank'>Clustergrammer Iris Jupyter Notebook</a>.</p>
              </div>

            </div>


            <p class='example_title'>Using Clustergrammer</p>
            <div class='row example_section' >

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Jupyter Notebook Widget</p>

                <a href='http://nbviewer.jupyter.org/github/MaayanLab/clustergrammer-widget/blob/master/Running_clustergrammer_widget.ipynb' target='_blank'>
                  <div class='example_image_container'>
                    <img class='jupyter_logo' id='' src="static/img/jupyter_logo.png" alt="Jupyter-Widget">
                  </div>
                </a>

                <p class='example_single_description'>The <a href="https://github.com/MaayanLab/clustergrammer-widget" target='_blank'>Clustergrammer-Widget</a> enables users to easily generate interactive visualizations within shareable Jupter notebooks (see <a href="http://nbviewer.jupyter.org/github/MaayanLab/clustergrammer-widget/blob/master/Running_clustergrammer_widget.ipynb">example</a>). Jupyter notebooks are ideal for generating reproducible workflows and can be shared using <a href="http://nbviewer.jupyter.org/"  target='_blank'>nbviewer</a> </p>
              </div>


              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Biology Specific Features</p>

                <a href='' target='_blank'>
                  <div class='example_image_container'>
                    <img id='gene_info_image' src="static/img/gene_info_screenshot.png" alt="Jupyter-Widget">
                  </div>
                </a>

                <p class='example_single_description'>Clustergrammer is also available as an IPython interactive widget. <a href="https://github.com/MaayanLab/clustergrammer-widget" target='_blank'>Clustergrammer-Widget</a> enables users to produce interactive heatmaps as part of their workflow and share their interactive visualizations using Jupter's <a href="http://nbviewer.jupyter.org/"  target='_blank'>nbviewer</a></p>
              </div>


              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Open Source Code for Developers</p>
                <a href='https://github.com/MaayanLab/clustergrammer' target='_blank'>
                  <div class='example_image_container'>
                    <img class='github_logo' id='' src="static/img/github_octocat.png" alt="Harmonogram">
                  </div>
                </a>

                <p class='example_single_description'>
                Clustergrammer is a free and open source project available through GitHub. The front-end JavaScript library, back-end Python library, and documentation can be found via the link above.
                </p>
            </div>

            </div>


            <p class='example_title'>Web App Integration Examples</p>
            <div class='row example_section' >

              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>Enrichr</p>
                <a href='http://amp.pharm.mssm.edu/Enrichr/' target='_blank' >
                  <div class='example_image_container'>
                      <img id='enrichr_example' src="static/img/Enrichr_example_wide.png" alt="CCLE Explorer">
                  </div>
                </a>
                <p class='example_single_description'>Clustergrammer visualizes enrichment analysis results from the Ma'ayan lab web-tool Enrichr and displays the overlap of a user's input gene list and the gene lists of enriched terms.</p>
              </div>


              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>GEN3VA</p>
                <a href='http://amp.pharm.mssm.edu/gen3va/report/approved/AGING_BD2K_LINCS_DCIC_COURSERA' target='_blank' >
                  <div class='example_image_container'>
                      <img id='CCLE_image' src="static/img/GEN3VA_no_sidebar_small.png" alt="CCLE Explorer">
                  </div>
                </a>
                <p class='example_single_description'>Clustergrammer visualizes collections of gene expression signatures extracted from the Gene Expression Omnibus (GEO) using the Ma'ayan lab web-tool GEN3VA.  </p>
              </div>


              <div class='col-xs-4 example_col'>
                <p class='example_single_title'>L1000CDS2</p>
                <a href='http://amp.pharm.mssm.edu/clustergrammer/l1000cds2/55e0b68a5bf3665f1a726bfa' target='_blank'>
                  <div class='example_image_container'>
                    <img class='example_image' id='L1000CDS2' src="static/img/L1000CDS2.png" alt="L1000CDS2">
                  </div>
                </a>
                <p class='example_single_description'>Clustergrammer visualizes gene-expression-signature search results from the Ma'ayan lab web tool L1000CDS2, which allows users to find perturbations from the L1000 project whose signatures are similar or antisimilar to their input signature. </p>
              </div>

            </div>



            <!-- end row -->


          </div>


        </div>
        <!-- end row -->


      </div>
      <!-- end main container -->

  </div>
  <!-- End Wrap all page content here -->

  <div id='footer'>
    <div class="row" >
      <div id='footer_text_container' class="col-xs-12 footer_section">
        <div class="text-muted footer_text">Clustergrammer is being developed by the <a class='blue_links' target="_blank"  href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a class='blue_links' target="_blank"   href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>  for the <a target="_blank" href="http://lincs-dcic.org/">BD2K-LINCS DCIC</a> and the <a target="_blank" href="http://commonfund.nih.gov/idg/overview">KMC-IDG</a>  </div>

        <!-- DCIC, BD2K, KMC, and GitHub -->
        <div class="text-muted footer_text">
        and is an open source project available on GitHub:
        <a class='blue_links' target="_blank" href="https://github.com/MaayanLab/clustergrammer">Clustergrammer</a>,

        <a class='blue_links' target="_blank" href="https://github.com/MaayanLab/clustergrammer-web">Clustergrammer-web</a>, and

        <a class='blue_links' target="_blank" href="https://github.com/MaayanLab/clustergrammer-widget">Clustergrammer-widget</a>.

        </div>

      </div>
    </div>
  </div>




  <script src="static/lib/js/jquery-1.11.2.min.js"></script>
  <script src="static/lib/js/d3.js"></script>

  <!-- <script src='static/lib/js/jquery.accordion.js'></script> -->
  <!-- Bootstrap Core JavaScript -->
  <script src="static/lib/js/bootstrap.min.js"></script>
  <script src="static/lib/js/bootstrap-switch.min.js"></script>
  <script src="static/lib/js/blockUI.js"></script>
  <script src="static/lib/js/d3.js"></script>

  <!-- stylized file upload button -->
  <!-- http://gregpike.net/demos/bootstrap-file-input/demo.html -->
  <script type="text/javascript" src="static/lib/js/bootstrap.file-input.js"> </script>
  <script type="text/javascript">
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
  </script>
  <script type="text/javascript" src="static/lib/js/prettify.js"> </script>

  <!-- style code -->
  <!-- Clustergram Scripts -->

  <script>

    // display the upload button
    d3.select('#input_form').style('display','block');

    d3.select('#file_upload_button').attr('disabled','true');
    d3.select('#input_form')
      .on('click',function(){
        d3.select('#file_upload_button')
          .attr('disabled', null);
      });

    d3.select('#file_upload_button').on('click',function(){

      // make wait sign
      $.blockUI({ css: {
          border: 'none',
          padding: '15px',
          backgroundColor: '#000',
          '-webkit-border-radius': '10px',
          '-moz-border-radius': '10px',
          opacity: .8,
          color: '#fff'
      } });

      d3.select('.blockMsg').select('h1').text('Please wait...');


    })

  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71147904-1', 'auto');
    ga('send', 'pageview');
  </script>


</body>

