<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href='/clustergrammer/'>

    <title>clustergrammer</title>

    <!-- <intercept-url pattern="static/icons.map.ico" access="ROLE_ANONYMOUS" /> -->
    <!-- <link rel='shortcut icon' href='static/icons/map.ico' type='image/x-icon'/ >  -->

    <link rel="shortcut icon" href="{{ url_for('static', filename='map.ico') }}">


    <!-- Bootstrap Core CSS -->
    <link href="static/lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="static/lib/css/simple-sidebar.css" rel="stylesheet">

    <link rel="stylesheet" href="static/lib/css/keen-dashboards.css">
    <link rel="stylesheet" href="static/lib/css/bootstrap-switch.css">
    <link rel="stylesheet" href="static/lib/css/dc.css">
    <link rel="stylesheet" href="static/css/specific.css" />
    <link rel="stylesheet" href="static/css/jquery.accordion.css">
    <link rel="stylesheet" href="static/css/custom.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="static/lib/css/prettify.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="prettyPrint()">

  <div id="wrapper" class='toggled'>

    <!-- Sidebar -->
    <!-- <div id="sidebar-wrapper">
      <p class='sidebar_labels'>sidebar</p>
    </div> -->
    <!-- end sidebar -->

    <!-- Page Content used for sidebar toggle -->
    <div id="page-content-wrapper">

      <!-- main container - required --> 
      <div id='main_container'>

        <!-- this row is - required fluid causes problems --> 
        <div class="row" > 

          <!-- hold_views - holds all views -->
          <div id='hold_views' class="col-lg-12">

            <!-- homepage -->
            <div id='homepage_view' class='row'>

              <h1 id='website_title'> Mock G2E </h1>
              
              <button type='button' id='post_req_button' >make post request</button>  

            <form  action="{{ url_for('proc_g2e') }}" method=post enctype=multipart/form-data>
              <input name='signatures' title='test post here' value='{"a":"b"}' >
              <input class='btn btn-primary' id='file_upload_button'  type=submit value=Upload>
            </form>

            </div>
            <!-- end homepage -->

          </div> 
          <!-- end single column -->

        </div>
        <!-- end row -->

      </div>
      <!-- end main container -->

    </div>
    <!-- end page content wrapper -->

  </div> 
  <!-- /end wrapper -->



  <!-- Vendor -->
  <!-- jQuery -->
  <script src="static/lib/js/jquery-1.11.2.min.js"></script>

  <!-- adding jquery links -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script src='static/lib/js/jquery.accordion.js'></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="static/lib/js/bootstrap.min.js"></script>
  <script src="static/lib/js/bootstrap-switch.min.js"></script>
  <script src="static/lib/js/crossfilter.js"></script>
  <script src="static/lib/js/d3.js"></script>
  <script src="static/lib/js/dc.js"></script>
  <script src="static/lib/js/queue.js"></script>
  <script src="static/lib/js/keen.min.js"></script>
  <script src="static/lib/js/underscore-min.js"></script>
  <script src="static/lib/js/underscore.strings.js"></script>
  <script src='static/lib/js/blockUI.js'></script>
  <script src='static/lib/js/type_ahead.js'></script>
  <!-- stylized file upload button -->
  <!-- http://gregpike.net/demos/bootstrap-file-input/demo.html -->
  <script type="text/javascript" src="static/lib/js/bootstrap.file-input.js"> </script>
  <script type="text/javascript">
    $('input[type=file]').bootstrapFileInput();
    $('.file-inputs').bootstrapFileInput();
  </script>
  <script type="text/javascript" src="static/lib/js/prettify.js"> </script>

  <!-- style code -->
  <!-- Clustergram Scripts -->
  <script src='static/js/d3_clustergram.js'></script>
  <script src='static/js/load_local_network.js'></script>

  <script>
  
  g2e_json = {{ flask_var|tojson|safe }}

  console.log(g2e_json)

</script>


</body>

