<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href='/clustergrammer/'>

    <title>clustergrammer</title>

    <link rel="shortcut icon" href="static/icons/graham_cracker.ico"  type="image/x-icon">


    <!-- Bootstrap Core CSS -->
    <link href="static/lib/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="static/lib/css/bootstrap-switch.css">
    <link rel="stylesheet" href="static/css/specific.css" />
    <link rel="stylesheet" href="static/css/jquery.accordion.css">
    <link rel="stylesheet" href="static/css/custom_viz.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">

    <style>
      #clust_instruct_container {display: none}
      .footer_section {display: none}
    </style>

</head>

<body>


  <div>

    <div id='clust_instruct_container' >
      <div>
        <img src="static/icons/graham_cracker_70.png" id='home_graham_cracker' style="width:30px;height:30px;" >
        <h1 id='viz_website_title'  >clustergrammer</h1>
      </div>

      <div class='gene_exp_view'>
        <div class='viz_instruct_text'> Zoom into the clustergram using scroll, reorder using the buttons or by double-clicking row or column tiles, search for rows using the search box, and idenfity groups of rows or columns of varying size using the sliders.</div>

      </div>

      <!-- toggle clustergram order -->
      <div class='viz_medium_text'>Row Order</div>
      <div id='toggle_col_order' class="btn-group" data-toggle="buttons" >
        <label class="btn btn-primary active order_name" id="clust_row">
          <input type="radio" name="options" autocomplete="off" checked > Cluster
        </label>
        <label class="btn btn-primary order_name" id="rank_row">
          <input type="radio" name="options" autocomplete="off" > Rank
        </label>
      </div>

      
      <div class='viz_medium_text'>Column Order</div>
      <div id='toggle_row_order' class="btn-group" data-toggle="buttons" >
        <label class="btn btn-primary active order_name" id="clust_col">
          <input type="radio" name="options" autocomplete="off" checked > Cluster
        </label>
        <label class="btn btn-primary order_name" id="rank_col">
          <input type="radio" name="options" autocomplete="off" > Rank
        </label>
      </div>      

      <!-- input box for gene search -->
      <div id='gene_search_container' class='row'>
          <input id='gene_search_box' type="text" class="form-control" placeholder="Input Gene" aria-describedby="sizing-addon2">

          <div id='gene_search_button' class="btn-group" data-toggle="buttons" >
            <label id='submit_gene_button' class="btn btn-primary active " >
              <input type="radio" name="options" id="" autocomplete="off" checked > Search
            </label>
          </div>
      </div>      

      <div id='slider_container'>
        <p class='viz_instruct_text'>Column Group Size</p>
        <div id="slider_col"></div>
        <p class='viz_instruct_text'>Row Group Size</p>
        <div id="slider_row"></div>

        <div class='viz_large_text' id='filter_title'>Filter Rows:</div>

        <div class='viz_instruct_text filter_row_sum' id='filter_row_sum'>Filter Sum: 0% </div>
        <div id="slider_filter_row_sum" class='slider_filter filter_row_sum'></div>

        <div class='viz_instruct_text filter_row_value' id='filter_row_value'>Filter Value: 0% </div>
        <div id="slider_filter_row_value" class='slider_filter filter_row_value'></div>

        <div class='viz_instruct_text filter_row_num' id='filter_row_num'>Filter Number Non-zero: 0% </div>
        <div id="slider_filter_row_num" class='slider_filter filter_row_num'></div>        

      </div>

      <a href="/clustergrammer/" class="btn btn-primary" role="button">Return to clustergrammer</a>
    </div>

    <div id='svg_div' class='svg_div' >
      <h1 id='wait_message'>Please wait ...</h1>
    </div>
  
  </div>


  <footer id='footer_div' class="footer navbar-fixed-bottom">
    <div class="row" > 
      <div class="col-xs-12 footer_section"> 
        <p class="text-muted">clustergrammer is being developed by the <a href="http://icahn.mssm.edu/research/labs/maayan-laboratory">Ma'ayan Lab</a> at the <a href="http://icahn.mssm.edu/">Icahn School of Medicine at Mount Sinai</a>. </p>
      </div>
    </div>
  </footer>


  <!-- Modal -->
  <div id="dendro_info" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div> -->
      </div>

    </div>
  </div>

  <!-- Vendor -->
  <!-- jQuery -->
  <script src="static/lib/js/jquery-1.11.2.min.js"></script>
  <!-- adding jquery links -->
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <script src='static/lib/js/jquery.accordion.js'></script>
  <!-- Bootstrap Core JavaScript -->
  <script src="static/lib/js/crossfilter.js"></script>
  <script src="static/lib/js/d3.js"></script>
  <script src="static/lib/js/dc.js"></script>
  <script src="static/lib/js/queue.js"></script>
  <script src="static/lib/js/keen.min.js"></script>
  <script src="static/lib/js/underscore-min.js"></script>
  <script src="static/lib/js/underscore.strings.js"></script>
  <!-- <script src='static/lib/js/blockUI.js'></script> -->
  <script src='static/lib/js/type_ahead.js'></script>
  <script src="static/lib/js/bootstrap.min.js"></script>
  <script src="static/lib/js/bootstrap-switch.min.js"></script>
  <script src="static/lib/js/d3.tip.js"></script>
  <!-- Clustergram Scripts -->
  <script src='static/js/clustergrammer.js'></script>
  <script src='static/js/load_local_network.js'></script>

  <script>

    function QueryStringToJSON() { 
      var pairs = location.search.slice(1).split('&');
      
      var result = {};
      pairs.forEach(function(pair) {
          pair = pair.split('=');
          result[pair[0]] = decodeURIComponent(pair[1] || '');
      });

      return JSON.parse(JSON.stringify(result));
    }

    var query_string = QueryStringToJSON();

    var ini_expand;
    if (query_string.preview === 'true' ){
      d3.select('#clust_instruct_container')
        .style('display','none');
      ini_expand = true; 
    } else {
      d3.select('#clust_instruct_container')
        .style('display','block');
      ini_expand = false; 
    }

    if (query_string.row_label){
      var row_label = query_string.row_label;
    } else {
      var row_label = '';
    }

    if (query_string.col_label){
      var col_label = query_string.col_label;
    } else {
      var col_label = '';
    }

    var super_label_scale = 1.25;
    if (query_string.row_label === undefined && query_string.col_label === undefined){
      super_label_scale = 0;
    }

    if (query_string.opacity_scale){
      var opacity_scale = query_string.opacity_scale;
    } else {
      var opacity_scale = 'linear';
    }

    if (query_string.order){
      var ini_order = query_string.order;
    } else {
      var ini_order = 'clust'
    }

    network_data = {{ viz_network|tojson|safe }}

    // fix depricated view names 
    _.each(network_data.views, function(d){
      if (_.has(d,'filt')){
        // rename 'filt' to 'filter_row_value'
        d.filter_row_value = d.filt;
      d3.select('#filter_title').remove();
      }
      if (_.has(d,'filter_row')){
        // rename 'filter_row' to 'filter_row_value'
        d.filter_row_value = d.filter_row;
      }      
    })

    // define the outer margins of the visualization
    var outer_margins = {
        'top':5 ,
        'bottom':33,
        'left':225,
        'right':5
      };

    var outer_margins_expand = {
        'top':5,
        'bottom':5,
        'left':5,
        'right':5
      };  

    // define callback function for clicking on tile
    function click_tile_callback(tile_info){
      console.log('my callback');
      console.log('clicking on ' + tile_info.row + ' row and ' + tile_info.col + ' col with value ' + String(tile_info.value))
    }

    // define callback function for clicking on group
    function click_group_callback(inst_rc, group_nodes_list){
      console.log('running user defined click group callback');

      $('#dendro_info').modal('toggle');
      d3.select('#dendro_info').select('.modal-body').select('p')
        .text(group_nodes_list.join('\t'));

      if (inst_rc==='row'){
        var type_title = 'Row';
      } else if (inst_rc==='col'){
        var type_title = 'Column';
      }

        
      d3.select('#dendro_info').select('.modal-title')
        .text(function(){
          return 'Selected '+type_title + ' Group';
        });


      options = {
        description:'some-description',
        list: group_nodes_list.join('\n')
      }

      // // send genes to Enrichr 
      // send_genes_to_enrichr(options);

    }

    viz_name = {{viz_name|tojson|safe}};

    // define arguments object
    var arguments_obj = {
      'network_data': network_data,
      'svg_div_id': 'svg_div',
      'col_label':col_label,
      'row_label':row_label,
      'outer_margins': outer_margins,
      'outer_margins_expand': outer_margins_expand,
      'show_label_tooltips':true,
      'ini_expand':ini_expand,  
      'super_label_scale':super_label_scale,
      'col_label_scale':1.2,
      'opacity_scale':opacity_scale,
      'order':ini_order
    };

    if (_.has(network_data.row_nodes[0],'group')){
      arguments_obj.click_group = click_group_callback;
    }

    if (query_string.viz_type === 'enr_vect'){
      // show up/dn genes from enrichment 
      function make_tile_tooltip(d){
        // up and down 
        if ( d.info.up.length > 0 && d.info.dn.length > 0 ){
          var inst_up = 'Up Genes: '+ d.info.up.join('\t');
          var inst_dn = 'Down Genes: '+ d.info.dn.join('\t');
          var inst_string = "<p>"+inst_up+"</p>"+inst_dn;
          // improve
          var inst_score = Math.abs(d.value.toFixed(2));
        } else if ( d.info.up.length > 0 ){
          var inst_up = 'Up Genes: '+ d.info.up.join('\t');
          var inst_string = inst_up;
          var inst_score = d.value.toFixed(2);
        } else if ( d.info.dn.length > 0 ){
          var inst_dn = 'Down Genes: '+ d.info.dn.join('\t');
          var inst_string = inst_dn;
          var inst_score = -d.value.toFixed(2);
        }
        var inst_info = '<p>'+d.col_name+' is enriched for '+d.row_name+' with Combined Score: '+ inst_score +'</p>'
        return inst_info + inst_string; 
      }

      arguments_obj.make_tile_tooltip = make_tile_tooltip;
      arguments_obj.show_tile_tooltips = true;

    }

    if (query_string.viz_type === 'Enrichr_clustergram'){
      arguments_obj.col_label_scale = 1;
      arguments_obj.row_label_scale = 0.75;
    }

    if (ini_expand){
      d3.select('.footer_section').style('display','none');
    } else {
      d3.select('.footer_section').style('display','block');
    }


    if (network_data === 'processing'){
      d3.select('#wait_message').text('Processing... please wait a moment and refresh page.');
    } else if (network_data === 'error') {
      d3.select('#wait_message').text('There was an error processing your matrix. Please re-check your data and try again.');
    } else {
      // make clustergram: pass network_data and the div name where the svg should be made
      d3.select('#wait_message').style('display','none');
      var cgm = clustergrammer(arguments_obj);
    }

    
    if (query_string.viz_type === 'Enrichr_clustergram'){
      d3.select('#expand_button').style('display','none');
    }

    ini_sliders();

    // filter_row = _.filter(network_data.views, function(d){return _.has(d,'filter_row')});
    filter_row_value = _.filter(network_data.views, function(d){return _.has(d,'filter_row_value')});
    filter_row_num = _.filter(network_data.views, function(d){return _.has(d,'filter_row_num')});
    filter_row_sum = _.filter(network_data.views, function(d){return _.has(d,'filter_row_sum')});



    if (_.has(network_data, 'views')){

      // filter based on single value 
      if (filter_row_value.length>0){
        set_up_filters('filter_row_value');
      } else {
        d3.selectAll('.filter_row_value').remove();
      }

      // filter row based on number of non-zero values 
      if (filter_row_num.length>0){
        set_up_filters('filter_row_num');
      } else {
        d3.selectAll('.filter_row_num').remove();
      }

      // filter row based on sum of row
      if (filter_row_sum.length>0){
        set_up_filters('filter_row_sum');
      } else {
        d3.selectAll('.filter_row_sum').remove();
      }

    } else {
      d3.select('#filter_title').remove();
      d3.selectAll('.filter_row_value').remove();
      d3.selectAll('.filter_row_num').remove();
      d3.selectAll('.filter_row_sum').remove();
    }

    function set_up_filters(filter_type){

      console.log('filter_type: '+filter_type)

      // filter 
      ////////////////////
      var views = network_data.views;
      var all_views = _.filter(views, function(d){return _.has(d,filter_type);});
      var inst_max = all_views.length - 1;
      $( '#slider_'+filter_type ).slider({
        value:0,
        min: 0,
        max: inst_max,
        step: 1,
        stop: function( event, ui ) {

          $( "#amount" ).val( "$" + ui.value );
          var inst_filt = $( '#slider_'+filter_type ).slider( "value" ); 

          if (filter_type==='filter_row_value' || filter_type == 'filter_row'){

            change_view = {'filter_row_value':inst_filt/10};
            filter_name = 'Value';

            $('#slider_filter_row_sum').slider( "value", 0);
            $('#slider_filter_row_num').slider( "value", 0);

            d3.select('#filter_row_sum').text('Filter Sum: 0%');          
            d3.select('#filter_row_num').text('Filter Number Non-zero: 0%');          

          } else if (filter_type === 'filter_row_num'){

            change_view = {'filter_row_num':inst_filt/10};
            filter_name = 'Number Non-zero';

            $('#slider_filter_row_value').slider( "value", 0);
            $('#slider_filter_row_sum').slider( "value", 0);

            d3.select('#filter_row_sum').text('Filter Sum: 0%');          
            d3.select('#filter_row_value').text('Filter Value: 0%');          

          } else if (filter_type === 'filter_row_sum'){

            change_view = {'filter_row_sum':inst_filt/10};
            filter_name = 'Sum';

            $('#slider_filter_row_value').slider( "value", 0);
            $('#slider_filter_row_num').slider( "value", 0);

            d3.select('#filter_row_value').text('Filter Value: 0%');          
            d3.select('#filter_row_num').text('Filter Number Non-zero: 0%'); 

          }

          d3.select('#main_svg')
            .style('opacity',0.70);

          d3.select('#'+filter_type).text('Filter '+filter_name+': '+10*inst_filt+'%');          

          $('.slider_filter').slider('disable');
          d3.selectAll('.btn').attr('disabled',true);

          cgm.update_network(change_view);

          ini_sliders();

          function enable_slider(){
            $('.slider_filter').slider('enable');  
            d3.selectAll('.btn').attr('disabled',null);
          }
          setTimeout(enable_slider, 2500);

        }
      });
      $( "#amount" ).val( "$" + $( '#slider_'+filter_type ).slider( "value" ) );

    }     

    function ini_sliders(){

      $( "#slider_col" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;
          cgm.change_groups('col',inst_index)
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_col" ).slider( "value" ) );

      $( "#slider_row" ).slider({
        value:0.5,
        min: 0,
        max: 1,
        step: 0.1,
        slide: function( event, ui ) {
          $( "#amount" ).val( "$" + ui.value );
          var inst_index = ui.value*10;
          cgm.change_groups('row',inst_index)
        }
      });
      $( "#amount" ).val( "$" + $( "#slider_row" ).slider( "value" ) );

      $('#gene_search_box').autocomplete({
        source: cgm.get_genes()
      });

      // submit genes button
      $('#gene_search_box').keyup(function(e) {
        if (e.keyCode === 13) {
          var search_gene = $('#gene_search_box').val();
          cgm.find_gene(search_gene);
        }
      });

      $('#submit_gene_button').click(function() {
        var gene = $('#gene_search_box').val();
        cgm.find_gene(gene);
      });

      $('#toggle_row_order .btn').off().click(function(evt) {
        var order_id = $(evt.target).attr('id').split('_')[0];
        cgm.reorder(order_id,'row');
      });

      $('#toggle_col_order .btn').off().click(function(evt) {
        var order_id = $(evt.target).attr('id').split('_')[0];
        cgm.reorder(order_id,'col');
      });

    }
  
  </script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-71147904-1', 'auto');
    ga('send', 'pageview');
  </script>
</body>

</html>
