/* prevents horizontal scrolling */
html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 1000px;
  height:900px;
  margin: 0px auto 10px auto;
}

h1 {
  font-size: 45px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 2em;
}

footer {
  margin-left: 200px;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 13px;
  padding-left:10px;
  padding-right:10px;
}

#main_container{
  position: relative;
  margin-left: 55px;
  height:1000px;
}

#website_title{
  margin-top: 12px;
  margin-bottom: 10px;
  display: inline-block;
  /*margin-left: 5px;*/
  font-size: 30px;
}

.initial_paragraph{
  font-size: 19px;
  width:940px;
  font-weight: 300;
  /*display: none;*/
}

/*footer - shift it with the sidebar*/
#footer_div{
  margin-left: 0px;
}











#submit_gene_button{
  padding-top:6px;
  padding-bottom:6px;
}

/*initialize no view for upload button*/
#searchForm{
  display: none;
  margin-top: 20px;
}

/*position file upload button*/
#file_upload_button{
  margin-left: 5px;
}

/*style example_tsv*/
#example_tsv{
  width:275px;
  padding-left: 23px;
  margin-left: 30px;
}


#slider_container{
  margin-bottom: 10px;
}

#wait_message{
  margin-left: 300px;
  margin-top: 50px;
  opacity: 0.5;
}

.btn-default {
  background-color: #D0D0D0;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}


.order_name{
  padding-top:2px;
  padding-bottom:2px;
  font-size: 12px;
  margin-bottom: 3px;
}

#iframe_preview{
  display: block;
  height: 520px;
  width: 920px;
  /*margin-bottom: 5px;*/
  /*margin-left: -8px;*/
  /*margin-top: -3  px;*/
  border: 1px solid #DEDEDE;
}

#input_form{
  margin-bottom: 10px;
}

#demo_paragraph{
  margin-top: 25px;
  margin-bottom: 5px;
}

#demo_link{
  color: #009dff;
  font-size: 12px;
  margin-left: 740px;
}

#upload_section{
  margin-top: 10px;
  margin-left: 15px;
}

#footer_text{
  padding-top: 5px;
  padding-bottom: 5px;
}

#first_instructions{
  margin-left: 0px;
}

#home_graham_cracker{
  margin-top: -13px;
}