/* prevents horizontal scrolling */
html {
  max-width: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  width: 1000px;
  height:900px;
  margin: 0px auto 10px auto;
}

h1 {
  font-size: 45px;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 20px;
}

h2 {
  margin-top: 2em;
}

footer {
  margin-left: 200px;
  text-align: center;
  background-color: #f5f5f5;
  font-size: 13px;
  padding-left:10px;
  padding-right:10px;
}

#main_container{
  position: relative;
  margin-left: 55px;
  height:1000px;
}

#website_title{
  margin-top: 12px;
  margin-bottom: 10px;
  display: inline-block;
  /*margin-left: 5px;*/
  font-size: 30px;
}

.initial_paragraph{
  font-size: 19px;
  width:940px;
  font-weight: 300;
  /*display: none;*/
}

/*footer - shift it with the sidebar*/
#footer_div{
  margin-left: 0px;
}

/*position file upload button*/
#file_upload_button{
  margin-left: 5px;
}

/*style example_tsv*/
#example_tsv{
  width:275px;
  padding-left: 23px;
  margin-left: 30px;
}

/*color choose file button*/
.btn-default {
  background-color: #D0D0D0;
}

#iframe_preview{
  display: block;
  height: 520px;
  width: 920px;
  /*margin-bottom: 5px;*/
  /*margin-left: -8px;*/
  /*margin-top: -3  px;*/
  border: 1px solid #DEDEDE;
}

#input_form{
  margin-bottom: 10px;
}

#demo_paragraph{
  margin-top: 25px;
  margin-bottom: 5px;
}

#demo_link{
  color: #009dff;
  font-size: 12px;
  margin-left: 740px;
}

#upload_section{
  margin-top: 10px;
  margin-left: 15px;
}

#footer_text{
  padding-top: 5px;
  padding-bottom: 5px;
}

#first_instructions{
  margin-left: 0px;
}

#home_graham_cracker{
  margin-top: -13px;
}