body {
	font-family: Arial, sans-serif;
}
body,
.viz_large_text,
#gene_search_box,
#submit_gene_button {
	font-size: 13px;
}
.viz_large_text {
	font-weight: bold;
	margin-top: 15px;
}
#clust_instruct_container {
	margin-left: 0;
}
#help_link,
#share_button,
#picture_button {
	color: #aaa;
}
.viz_instruct_text {
	font-family: arial;
	font-size: 15px;
	line-height: 1.2em;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align: left;
	width: 140px;
	margin-left: 5px;
}
#report-page iframe,
#report-page #pca-container {
	border: none;
}
#footer_div {
	display: none;
}
.btn {
	border-radius: 0;
	border: 1px solid #eee;
	color: black;
}
.btn.btn-primary {
	background-color: #eee;
	color: black;
}
.btn.btn-primary:hover {
		background-color: #ddd !important;
		border-color: #ddd !important;
}
.btn.btn-primary.active{
	background-color: #ccc;
	border: 1px solid #ccc;
	box-shadow: none;
	-webkit-box-shadow: none;
}
#toggle a {
	display: none;
}
#gene_search_container{
	margin-left: 5px;
}
#gene_search_box {
	border-radius: 0;
	height: 32px;
}
.ui-corner-all,
.ui-corner-bottom,
.ui-corner-top,
.ui-corner-left,
.ui-corner-right,
.ui-corner-br,
.ui-corner-bl,
.ui-corner-tr,
.ui-corner-tl {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.slider_filter {
	width: 135px;
	margin-left: 5px;
}
#gene_search_box {
	width: 70px;
}
.toggle_order_title{
	margin-left: 5px;
}
.toggle_order_buttons{
	margin-left: 6px;
}
.viz_medium_text{
	margin-top: 5px;
	margin-bottom: 5px;
}
.ui-slider{
	margin-left: 10px;
}